# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:xxxxxxxxxxx # team: syahrir-mbojo, project: next-convex

NEXT_PUBLIC_CONVEX_URL=https://xxxxxxxxxxxxxx

NEXT_PUBLIC_CONVEX_SITE_URL=https://xxxxxxxxxxxxxx

# App URL (required for better-auth)
NEXT_PUBLIC_APP_URL=http://localhost:3004
